* {
 padding:0;
 margin: 0;
 box-sizing:border-box;
 font-family:"Popppins", sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(#f08753 50%, #c800f064
    50%);

}
.container {
    position: absolute;
    transform: translate(-50%, -5);
    top:50%;
    left:50%;
    width: 90vw;
    max-width:37.5em;
    background-color:#5f0e71;
    padding: 1.8em;
    border-radius:0.6em;
    box-shadow:0.1em

    
}