* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Popppins", sans-serif;
}
body {
  height: 100vh;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5)), url(https://img.freepik.com/free-photo/selection-various-cocktails-table_140725-2909.jpg?size=626&ext=jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#home-page {
  color: white;
  font-size: medium;
}
.container-fluid{
  display: flex;
}

.h1 {
  font-size: 4em;
  color: rgba(172, 255, 47, 0.842);
  text-align: center;
}
div {
  display: inline;
}
ul {
  margin: 0;
  padding: 0;
  text-align: right;
}
ul li {
  display: inline;
  /* margin: right 10px; */
  margin: 20px;
  font-size: 2em;
  color: green;
}

.section {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.search-container input {
  font-size: 2em;
  padding: 0.6em o.3em;
  border: none;
  outline: none;
  color: hwb(180 0% 0% / 0.565);
  border-bottom: 1.5px solid#1f194c;
}
.search-container input:focus {
  border-color: rgba(210, 105, 30, 0.852);
}
.search-container button {
  font-size: 2em;
  border-radius: 3em;
  background-color: #00ffff8d;

  border: rgb(220, 138, 16);
  outline: none;
  color: #fff;
}

/* .card {
  box-shadow: 0 4px 8px o rgba(0, 0, 0, 6);
  transition: 0.4s;
  width: 300px;
  text-align: centre;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  position: -ms-page; */

